.form-center {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 190px;
}

button.button-group {
    position: absolute;
    top: 700px;
    height: 38px;
    width: 625px;
}

button.button-continue {
    color: #569859;
    background-color: #D2F0D4;
    width: 120%;
    margin-top: 1em;
}

button.button-back {
    color: #424242;
    background-color: #E5E5E5;
    width: 80%;
    margin-top: 1em;
}

.error {
    color: red;
    margin-top: 0.5em;
}