form {
    width: 37.5rem;
}

.form-center {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

button.button-group {
    position: absolute;
    top: 700px;
    height: 38px;
    width: 625px;
}

button.button-continue {
    color: #569859;
    background-color: #d2f0d4;
    width: 120%;
    margin-top: 1em;
}

button.button-back {
    color: #424242;
    background-color: #e5e5e5;
    width: 80%;
    margin-top: 1em;
}

.error {
    color: red;
    margin-top: 0.5em;
}
