nav {
    background-color: #FFFFFF;
    border-bottom: 0.1rem solid #E5E5E5;
}

img {
    height: 2rem;
    /* text-align: center; */
    /* display: block;
    justify-content: center; */
    /* align-items: center; */
    margin: auto;
}